*, html {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    background-color: black;
    padding: 10px 20px 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__navbar li{
    display: inline;
    margin-left: 20px;
    
}

.header__navbar li a {
    color: white;
    text-decoration: none;
    font-weight: 0;
    margin: auto;
}

.logo {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 30%;
}

.description {
    text-align: center;
}

.description h3 {
    margin-top: 20px;
}

.search {
    background-color: #6495ED;
    padding: 5px 20px 20px 20px;
    margin-top: 15px;
}

.search ul {
    margin-top: 5px;
}

.search ul li {
    display: inline;
    margin-left: 20px;
}

.search ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

input {
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    border: black solid;
    padding: 15px 16px 16px 16px;
    margin-right: 200px;
}

.container {
    display: flex;
    padding-top: 50px;
    overflow: hidden;
}

.content {
    width: 70%;
    padding-left: 50px
}

.summary {
    width: 30%
}

.content-item {
    display: flex;
    margin-top: 20px;
}

.content-item-img {
    height: 20%;
    width: 20%;
}

.content-item-parapaph {
    width: 50%;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.font-italic {
    font-style: italic !important;
}

.author {
    padding-top: 20px;
    color: gray;
    opacity: 70%;
    font-style: italic;
}

.content-item-brief {
    border-radius: 10px;
    border: blue dashed;
    background-color: #D3D3D3;
    width: 75%;
    padding: 20px 8px 20px 8px;
}

.sub-title {
    padding-top: 30px;
    color: blue;
}

.summary ul {
    list-style: none;
    padding-top: 30px;
}

.content-item-reference {
    list-style-type: decimal;
    margin-left: 35px;
}

.content-item-reference li a {
    color: blue;
}

.summary ul li a{
    text-decoration: none;
    color: blue;
}

.footer-section {
    text-align: center;
    background-color: black;
    padding: 10px 20px 20px 20px;
    color: white;
    margin-top: 20px;
}